# No additional dependencies are needed for this simple function
#google-generativeai==0.3.2
google-genai
flask
functions-framework
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client